@import url("variables.css");
@import url("animations.css");
@import url("slider.css");
@import url("float-button.css");
@import url("social.css");
@import url("typewriter.css");
@import url("responsive.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  color: var(--steel-blue-100);
  background-color: var(--steel-blue-900);
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

h1::after {
  content: "";
  display: block;
  width: 70%;
  height: 0.1em;
  background-color: var(--steel-blue-500);
  margin-top: 1em;
}

header {
  padding: 1em;
  flex: 1;
  text-align: center;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

main section {
  flex: 3;
}
aside {
  flex: auto;
  align-items: flex-end;
  padding: 20px;
}

header img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

footer {
  text-align: center;
  bottom: 0;
  padding: 1em;
  flex: 1;
}
address a {
  color: var(--steel-blue-200);
}
.card {
  border-radius: 5%;
  overflow: hidden;
  padding: 1em;
  margin: 1em;
}

.abilities {
  display: flex;
  text-align: center;
}
.abilities section {
  background-color: var(--steel-blue-700);
}

.books {
  display: flex;
  gap: 2em;
  align-items: center;
  text-align: center;
}
.books img {
  width: 200px;
  height: 20em;
  padding: 1em;
  border-radius: 10%;
}
.books .card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.books .card {
  max-height: 25em;
  box-shadow: 0 4px 8px var(--steel-blue-500);
}
.line {
  padding: 0 0 20px 20px;
  border-left: 2px solid var(--steel-blue-100);
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -11.15px;
  top: 30px;
  background: var(--steel-blue-700);
  border: 2px solid var(--steel-blue-100);
}
.date {
  background-color: var(--steel-blue-700);
  padding: 1em;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
}
.template {
  display: flex;
  gap: 2em;
}
