:root {
  --steel-blue-50: #f2f8fd;
  --steel-blue-100: #e4effa;
  --steel-blue-200: #c4dff3;
  --steel-blue-300: #8fc5ea;
  --steel-blue-400: #54a6dc;
  --steel-blue-500: #2d8ac8;
  --steel-blue-600: #1e6eab;
  --steel-blue-700: #1a588a;
  --steel-blue-800: #194c73;
  --steel-blue-900: #1a4060;
  --steel-blue-950: #112940;
}
